Package: com.yourname.alarotationtrollfix
Name: AlohaRotationTrollFix
Version: 1.0
Architecture: iphoneos-arm64e
Maintainer: Ray
Description: Fix Aloha browser forced portrait lock
Section: Tweaks
Depends: mobilesubstrate